<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
        http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">
    <!-- 指定spring核心配置文件路径 -->
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath:applicationContext.xml</param-value>
    </context-param>
    <!-- 配置监听器，当工程启动时，创建ioc容器，存放在ServletContext中 -->
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

    <!-- springmvc入口 -->
<!--    <servlet>-->
<!--        <servlet-name>AccountServlet</servlet-name>-->
<!--        <servlet-class>cn.itcast.servlet.AccountServlet</servlet-class>-->
<!--    </servlet>-->
<!--    <servlet-mapping>-->
<!--        <servlet-name>AccountServlet</servlet-name>-->
<!--        <url-pattern>/AccountServlet</url-pattern>-->
<!--    </servlet-mapping>-->

    <!-- springmvc入口 -->
    <servlet>
        <servlet-name>springmvc</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <!-- 项目启动时，就加载并实例化 -->
        <load-on-startup>1</load-on-startup>
    </servlet>
    <!--
        /*拦截所有请求
        /拦截所有请求，不包括jsp
        *.do表示拦截所有以.do结尾的请求
     -->
    <servlet-mapping>
        <servlet-name>springmvc</servlet-name>
        <url-pattern>*.do</url-pattern>
    </servlet-mapping>
</web-app>